ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navbar {
    text-align: right;
  }
  
  
  nav {
    background-color: lightgrey; 
    top: 0;
    width: 100%;
    
  }
  
  nav a {
    display: inline-block;
    padding: 15px 50px;
    text-decoration: none;
    color: black;
    font-weight: bold; /* Add this line to make the text bold */
    
}
  
  nav a:hover {
    background-color: lightblue; 
    
  }
  
  nav ul {
    text-align: right;
    padding-left: 50px;

  }
  
  nav li {
    display: inline;
    margin-right: 20px; 
  }
  
  h2 {
    margin-bottom: 20px;
  }
   .button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  input[type=text],input[type=password],input[type=number],input[type=email],
  select,input[type=date],textarea
  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  label
  {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
  }
  /* styles.css */

.navbar {
  /* Your navbar styles */
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  margin-right: 5px;
}

.search-bar button {
  padding: 5px 10px;
}
